dmi:
  identifier: {{ id }}
  name: {{ name }}
  description: {{ description }}
  version: "v0.1"
  license: "BSD-3-Clause"
  creators:
  - firstName: "{{ first_name }}"
    lastName: "{{ last_name }}"
    email: "{{ email }}"
  scientificDomains:
    - network
  scientificSubdomains:
    - 5G