dmi:
  identifier: {{ id }}
  name: {{ name }}
  description: {{ description }}
  version: {{ version }}
  license: {{ license }}
  creators:
  - firstName: "{{ first_name }}"
    lastName: "{{ last_name }}"
    email: "{{ email }}"
  scientificDomains: {{ scientificDomains }}
  scientificSubdomains: {{ scientificSubdomains }}