---
{% raw %}
- name: Provision deployment node
  hosts: deploy
  become: true

  tasks:
  - name: Retrieve reference implementation
    ansible.builtin.git:
      repo: https://gitlab.inria.fr/slices-ri/blueprints/post-5g/reference_implementation.git
      dest: reference_implementation
      version: develop
      force: yes

  - name: Prepare venv
    ansible.builtin.shell: source /venv/bin/activate && pip install -r requirements.txt && ansible-galaxy install -r collections/requirements.yml
    args:
      chdir: reference_implementation

  - name: Create ~/.kube
    ansible.builtin.file:
      path: "{{ ansible_env.HOME }}/.kube/"
      state: directory

  - name: Copy custom Kube config
    ansible.builtin.copy:
      src: '{{ _kube_config_local_path }}'
      dest: ~/.kube/config
{% endraw %}